#menu {
    height: 210px;
}

#msg {
    border-style: solid;
    border-color: black;
    text-align: center;
    color: white;
    background-color: black;
}
#login {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    /* background-color: white; */
    padding: 2rem 15%;
}
#rem {
    margin-top: 15px;
}
#exampleCheck1 {
    margin-top: 20px;
}

.connect {
    width: 15rem;
    border: 1px solid black;
    border-radius: 0;
}

.auth-input {
    color: #000000;
    border-radius: 0;
    background: inherit;
    border: 1.5px solid #000000;
}

.form-control:focus {
    border-radius: 0;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.auth-input:focus {
    background: inherit;
    opacity: 0.5;
}
