.side-menu {
    min-height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    padding-bottom: 1rem;
    background-color: #000000;
    overflow-y: scroll;
    overflow-x: hidden ;
}

/* width */
.side-menu::-webkit-scrollbar {
    width: 8px
}
/* Track */
.side-menu::-webkit-scrollbar-track {
    background: #bababa;
}
/* Handle */
.side-menu::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border-radius:3px;
}
/* Handle on hover */
.side-menu::-webkit-scrollbar-thumb:hover {
    background: #454545;
}

.logo-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.list {
    padding: 0.5rem 0 0.5rem 2.7rem;
    justify-items: center;
}
.list span {
    color: #C4C4C4;
    padding: 0 1rem;
    justify-self: center;
}
.list a {
    align-items: center;
    font-size: small;
}
.list:hover {
    background-color: rgba(77, 77, 77, 0.6);
}
.list a:active{
    color: white;
    font-weight: bold;
}
@media only screen and (max-width: 1080px){
    .list {
        padding-left:0.5rem ;
    }

}
@media only screen and (max-width: 900px) {
    .list a{
        font-size: xx-small;
    }
}
@media only screen and (max-width: 719px) {
    .logo-container {
        padding-bottom: 1rem;
    }
    .list{
        padding-left: 25%;
    }
    .list span {
        display: none;
    }
}
