.button {
    color: white;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    font-family: system-ui;
}

.button5 {
    margin-left: 35px;
    padding: 7px 85px;
    font-size: 13px;
    background-color: #000000;
}

/* Black */

.buttonx {
    color: white;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: system-ui;
    padding: 6px 34px;
    padding-top: 3px;
    padding-bottom: 7px;
    font-size: 12px;
    background-color: black;
}

.buttonz {
    color: white;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-family: system-ui;
    padding: 5px 24px;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 12px;
    background-color: #ef140d;
}

.buttonw {
    color: black;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 1px black;
    font-family: system-ui;
    padding: 4px 32px;
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 12px;
    background-color: white;
}

.shadowrow {
    background-color: white;
    box-shadow: 19px 13px 10px 1px #e0e0e0;
    height: 90px;
}

.shadowrow1 {
    background-color: white;
    box-shadow: 19px 13px 10px 1px #e0e0e0;
    height: 90px;
}

td, th {
    text-align: center;
}

.button-supprimer1 {
    padding: 6px 30px;
    background-color: red;
    margin-right: 40px;
}

.buttonx1 {
    color: white;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: none;
    font-family: system-ui;
}

a.buttona {
    color: white;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    font-family: system-ui;
}

a.button55 {
    margin-left: 35px;
    padding: 6px 45px;
    font-size: 12px;
    background-color: #000000;
}

/* Black */
