.progress {
    height: 1.75rem;
    width: 90%;
    margin: auto;
    border-radius: 0 15px 15px 0;
}

.index {
    padding-top: 5.125rem;
    padding-right: 3.125rem;
    padding-left: 5.125rem;
    padding-bottom: 3.125rem;
}


.circle {
    background: gray;
    border-radius: 50%;
    width: 14.5rem;
    height: 14.5rem;
    margin: 3.125rem;
}

.sm-circle {
    border-radius: 50%;
    width:1.5rem;
    height:1.5rem;
    background-color: #2a9055;
}
.user-task {
    box-shadow: 0 14px 30px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.75rem;
}

.dossjur {
    box-shadow: 0 14px 30px 6px rgba(0, 0, 0, 0.1);
}
.folder {
    box-shadow: 0 14px 30px 6px rgba(0, 0, 0, 0.1);
    border-left: #EC1E24 3px solid;
}
.info {
    font-size: x-small;
}
