.navigation{
    margin-left: 20%;
}

.progress {
    height: 1.75rem;
    width: 90%;
    margin: auto;
    border: #1b1e21 1px solid;
    border-radius: 5%;
}

.index {
    padding-top: 5.125rem;
    padding-right: 3.125rem;
    padding-left: 5.125rem;
    padding-bottom: 3.125rem;
}

.circle {
    background: gray;
    border-radius: 50%;
    width: 14.5rem;
    height: 14.5rem;
    margin: 3.125rem;
}
.sm-circle {
    border-radius: 50%;
    width:1.5rem;
    height:1.5rem;
    background-color: #2a9055;

}
