.categorie {
    padding-top: 0.43rem;
    padding-bottom: 0.68rem;
    margin-right: 1.5rem;
    border: 1px solid #989898;
    box-sizing: border-box;
    font-weight: bold;
}
.config-btn {
    padding-top: 0.43rem;
    padding-bottom: 0.68rem;
    border: 1px solid #989898;
    border-radius: 0;
}
.sm-menu a:hover{
    background-color: #F8F8F8;
}
.sm-menu a:active {
    background-color: white;
}
.pr-container {
    margin-left: 2.5rem;
    margin-right:2.5rem ;
    display: grid;
    grid-template-rows:15rem 15rem 15rem;
    gap: 1rem;
}

.pr-wrapper{
    gap: 1rem;
}
.products {
    background: white;
    column-gap: 1rem;
    box-shadow: 0px 14px 30px 6px rgba(0, 0, 0, 0.1);

}
.products >a >img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
}

.products >a >div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 120%);
    text-decoration: none;
    font-weight: bold;
    color: #1b1e21;
}

