.side-menu {
    min-height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
}
.logo-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.list {
    padding-top: 0.5rem;
    padding-right: 0;
    padding-left: 3rem;
    padding-bottom: 0;
    justify-items: center;
}
.list span {
    color: #C4C4C4;
    padding: 0 1rem;
    justify-self: center;
}
.list a {
    align-items: center;
    font-size: small;
}
.list:hover {
    background-color: rgba(77, 77, 77, 0.6);
}
.list a:active{
    color: white;
    font-weight: bold;
}
@media only screen and (max-width: 1080px){
    .list {
        padding-left:0.5rem ;
    }

}
@media only screen and (max-width: 900px) {
    .list a{
        font-size: xx-small;
    }
}
@media only screen and (max-width: 719px) {
    .logo-container {
        padding-bottom: 1rem;
    }
    .list{
        padding-left: 25%;
    }
    .list span {
        display: none;
    }
}
