ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

li {
  float: left;
  margin-left: 30px;
}

li a {
  display: block;
  color: #A9A9A9;
  font-size: 15px;
  text-align: center;
  padding: 14px 16px;
  font-family: system-ui;
}


a:focus {
   font-size: 20xp;
   font-weight: bold;
   color: black;
text-decoration: none;
}

li a:hover{
  color: black;
  text-decoration: none;
}
li a:link, a:active{
text-decoration: none;
}



.button {
  
  color: white;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  font-family: system-ui;
}

.button3 {
	margin-left: 15px;
	 padding: 7px 45px;
   font-size: 13px;
	background-color: #FF0000;} /* Red */ 
.button4 {
	margin-left: 15px;
	background-color: none;
border: solid 2px;
 padding: 5.5px 85px;
 font-size: 13px;

color: black;} /* Gray */ 
.button5 {
	margin-left: 46px;
	 padding: 7px 45px;
   font-size: 13px;
	background-color: #000000;} /* Black */


.buttonx {
  
  color: white;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  font-family: system-ui;
}
.buttony {
  margin-left: 80px;
   padding: 6px 55px;
   font-size: 11px;
  background-color: #000000;}

.buttonz {
  margin-right: 10px;
  background-color: none;
border: solid 2px;
 padding: 6px 51px;
 font-size: 11px;
padding-bottom: 3px;
color: black;}


.buttonw {
  margin-left: 0px;
   padding: 6px 40px;
   font-size: 11px;
  background-color: #FF0000;} /* Red */ 


body {
    color: #566787;
    background: #f5f5f5;
    font-family: system-ui;
    font-size: 13px;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}




